<div class="center">
  <h2>Flashcard Decks</h2>
  <div id="flashcards">
    <% @decks.each do |deck| %>
      <a href="/decks/<%= deck.id %>">
        <div class="flashcard">
          <%= deck.name %>
        </div>
      </a>
    <% end %>
  </div>
</div>
