<div class="container">
  <img id="cute-corgi" src="/images/cute_corgi.jpg" alt="Cute Corgi" />
  <h2>The World's Best Antidepresssant</h2>
  <h3>A whole wide world of greater Corgi love is just around the corner</h3>
  <form action="/users/new" method="get">
      <input type="submit" value="Get Started">
  </form>
</div>
