<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <ul>
      <% if logged_in? %>
        <a href="/logout">Logout</a>
        <a href="/decks">Home</a>
        <a href="/users/<%= current_user.id %>"><%= current_user.username %></a>
        <h3>Welcome, <%= current_user.username %></h3>
      <% else %>
        <a href="/users/new">Create Account</a>
        <a href="/users/login">Login</a>
      <% end %>
    <ul>
  </nav>
  <div id="site-title">CorgiCards&trade;</div>
  <%= yield %>
  <div id="site-footer">&copy; 2016 CorgiCards.com | All Corgi Rights Reserved</div>
</body>
</html>
